@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.container {
  @include for-mobile {
    :global(.mediaWithText-img) {
      aspect-ratio: 1;
    }
  }
  @include for-desktop {
    :global(.mediaWithText-img) {
      width: 33.333vw !important;
      flex: 0 0 auto;
      height: 40vw;
    }
    :global(.mediaWithText) {
      align-items: flex-end;
    }
  }
}
